{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZuFu Health</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'home/style/index_style.css'%}">
</head>

<body>
    <nav>
        <div class="brand">
            <h1> ZuFu Health </h1>
        </div>
        <div class="menu">
            <span class="inputbox">Testcase Number: <input id="mytext" type="text"></span>
            <span id="myBtnpre" onclick="predict()"><i class="fa fa-search"></i></span>
        </div>
        <div class="secret_key">
            Welcome, {{ user.username }} &nbsp;&nbsp;&nbsp;
            <div class="tooltip">
                <i class="fa fa-key tooltip" aria-hidden="true" onclick="toggleToken()"></i>
                <span class="tooltiptext" id="token" title="click to copy">{{ token }}</span>
            </div>
        </div>
    </nav>

    <a href="#apipricebox" class="apilink"><button>Buy API</button></a>
    <p id="result" style="visibility: hidden;"></p>

    <div class=" contianer">
    <div class="inner">
        <div class="grid-container">
            <div class="grid-item1 chart-container">
                <canvas id="myEdaChart" height="60"></canvas>
            </div>
            <div class="grid-item2 chart-container">
                <canvas id="myResultChart"></canvas>
            </div>
            <div class="grid-item3 chart-container">
                <canvas id="myBvpChart" height="230"></canvas>
            </div>
            <div class="grid-item4">
                <div class="range-wrap">
                    <input type="range" name="" class="range" min="0" max="3" readonly aria-readonly="true" disabled>
                    <output class="bubble"></output>
                </div>
            </div>



        </div>
    </div>
    <div class="inner2">
        <div class="apidemo">
            <div class="heading"><span>API Demonstration</span></div>
        </div>
        <div class="api-main">
            <div class="customBox">
                <h2 style="color:#e04ecb">Input Box</h2>
                <div class="Box inputBox" contenteditable="true" id="inputapi"></div>
            </div>
            <div class="customBox">
                <button onclick="callapi()">Get Response :)</button>
            </div>
            <div class="customBox">
                <h2 style="color: #1f8ef1;">Output Box</h2>
                <div class="Box outputBox" contenteditable="false" id="outputapi"></div>
            </div>
        </div>
    </div>
    <div class="inner2" id="apipricebox">
        <div class="apidemo">
            <div class="heading"><span>ZuFu Pricing</span></div>
        </div>
        <div class="api-main">
            <div class="api-main-inner">
                <div class="price-card">
                    <div>
                        <h1 class="price-heading">Developer</h1>
                    </div>
                    <div><strong>Free</strong><span></span></div>
                    <div><span> Limited Access</span></div>
                    <div><span> High Speed Performance</span></div>
                    <div><span> 100,000 calls/account</span></div>
                    <div><span> $0.10 per 1,000</span></div>
                    <div><button onclick="showalert()">SELECT PLAN</button></div>
                </div>
                <div class="price-card">
                    <div>
                        <h1 class="price-heading">Organization</h1>
                    </div>
                    <div><strong>$20/</strong><span>Month</span></div>
                    <div><span> Full API Access</span></div>
                    <div><span> High Speed Performance</span></div>
                    <div><span> 500,000 calls/account</span></div>
                    <div><span> $0.10 per 1,000</span></div>
                    <div><button onclick="showalert()">SELECT PLAN</button></div>


                </div>
                <div class="price-card">
                    <div>
                        <h1 class="price-heading">Enterprise</h1>
                    </div>
                    <div><strong>$50/</strong><span>Month</span></div>
                    <div><span> Full API Access</span></div>
                    <div><span> High Speed Performance</span></div>
                    <div><span> 1,000,000 calls/account</span></div>
                    <div><span> $0.05 per 1,000</span></div>
                    <div><button onclick="showalert()">SELECT PLAN</button></div>
                </div>
            </div>

        </div>
    </div>
    <div class="inner2">
        <footer> That's all, folks! :) Have a Good Day</footer>
    </div>
    </div>
    <script src="{% static 'home/index_script.js' %}"></script>
    <script>
        async function callapi() {
            var url = "{% url 'web-model-api' token %}";
            var re = document.getElementById('inputapi').textContent;
            re = re.replace("<pre>", "");
            re = re.replace("</pre>", "");
            let response = await fetch(url, {
                method: 'POST',
                mode: 'cors',
                headers: {
                    "Content-type": "application/json",
                    "Accept": "application/json",
                    "X-CSRFToken": csrftoken
                },
                body: re
            });
            let result = await response.json();
            var target = document.getElementById('outputapi');
            var re = JSON.stringify(result);
            // var dup = re;
            // re = re.replaceAll("{","{</br>");
            // re = re.replaceAll(",",",");
            // re = re.replaceAll("}","</br>}");
            // target.innerHTML = re;

            // target.innerText+="\n\n"+dup;
            var dup = "";
            var tcnt = 1;
            for (var i = 0; i < re.length - 1; i++) {
                if (re[i] == "{") {
                    tcnt++;
                    var space = "&nbsp;&nbsp;";
                    for (var j = 0; j < tcnt; j++)
                        space += space;
                    dup += "{" + "<br>" + space;
                }
                else if (re[i] == "}") {
                    tcnt--;
                    var space = "&nbsp;&nbsp;";
                    for (var j = 0; j < tcnt; j++)
                        space += space;
                    dup += "<br>" + space + "}";
                }
                else if (re[i] == "," && re[i + 1] == '\"') {
                    var space = "&nbsp;&nbsp;";
                    for (var j = 0; j < tcnt; j++)
                        space += space;
                    dup += re[i] + "<br>" + space;
                }
                else
                    dup += re[i];

            }
            dup += "<br>}"
            target.innerHTML = dup;

        }


        async function predict() {
            var id = document.getElementById("mytext").value;
            if (id == '')
                id = 1;
            var re = document.getElementById("result");
            var url = `https://stressdetectionapp.herokuapp.com/api/model/${id}/predict/{{token}}/`;
            console.log(url);
            getEdaChart(id);
            getBvpChart(id);
            fetch(url)
                .then((resp) => resp.json())
                .then(function (data) {
                    re.innerHTML = JSON.stringify(data);
                    var allData = [];
                    for (var i = 0; i < data.gradBoost.probability.length; i++) {
                        allData.push(data.gradBoost.probability[i] * 100);

                    }
                    var str = '';
                    var reNo = data.gradBoost.result[0];
                    if (reNo == 0)
                        str = 'Amusemed!';
                    else if (reNo == 1)
                        str = 'Neutral';
                    else
                        str = 'Stressed!';

                    setBubble(reNo, str);
                    resultChart(allData);


                });
        }


        
function showalert(){
    alert(`We are working on Payment Process, For Now it is Free!\n API url : https://stressdetectionapp.herokuapp.com/api/model/{token}/ \n 
    Your token is "{{ token }}" `);
}


    </script>
</body>

</html>