asgiref==3.2.8
Django==3.0.7
django-cors-headers==3.4.0
djangorestframework==3.11.0
gunicorn==20.0.4
joblib==0.15.1
numpy==1.18.5
pickle-mixin==1.0.2
pytz==2020.1
scikit-learn==0.23.1
scipy==1.4.1
sklearn==0.0
sqlparse==0.3.1
threadpoolctl==2.1.0
